table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

.main-container{
    max-width: 900px;
    margin: 30px auto;
}


.app-filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-no-records{
  padding: 2rem;
  color: red;
}
.app-action-buttons button {
  display: table-cell;
  margin-right: 8px;
}
table tr.mat-row {
  height: 300px;
}